<h1>Log in</h1>
<form action="/login" method="POST"> <!-- a file name is given without a file
extension -->
    <div>
        <label for = "email">Email</label>
        <input type="email" id = "email" name="email" required>
    </div>
    <div>
        <label for = "password">Password</label>
        <input type="password" id = "password" name="password" required>
    </div>
    <button type="submit">Log in</button>
</form>
<a href = "/register">Register</a> <!-- "<a>" tag defines a hyperlink -->